{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>
    <div class="img-mains">
        <h1 class="textDeco"><strong>Mathilde MONTAGNON  </strong></br></br>Ergothérapeute</br> Bassin d’arcachon</h1>


    </div>
</div>

<div class="divIndexDescription">
    <div class="indexDescription">
        <p> 
            <strong> Mathilde MONTAGNON, Ergothérapeute diplômée d'état, spécialisée dans l'accompagnement de l’enfant et de sa famille.</strong> 
            </br>J’exerce au sein du <strong>cabinet de Pédiatrie et de Périnatalité : Drôles de Soins au 8 avenue de l’Ellipse au Teich.</strong>
        </p>
        </br>
        <p>
            Pour mieux vous accompagner et répondre à vos besoins je propose différentes consultations et ateliers :
        </p>

        <ul>
            <li>Consultation et bilan en ergothérapie </li>
            <li>Consultation spécialisée : Alimentation – Sommeil </li>
            <li>Accompagnement à la parentalité - guidance/partenariat parental</li>
                <li>Ateliers </li>
            <ul>
            <li class="abc">Premiers secours</li>
        <li class="abc"> En route vers diversification alimentaire</li>
            <li class="abc">Comprendre le sommeil du bébé et du jeune enfant pour mieux l’accompagner </li>
            <li class="abc">Soutenir le developpement sensori-moteur de l’enfant</li>
            </ul>
        </ul>

    </div>
</div>





{% endblock %}
