
<nav>
    <ul class="footerCustom" >
    
        <li class="mobile textDeco "> <i class="fa-solid fa-phone "></i> : 06.43.58.04.40</li>
        <li class=" mail textDeco " ><i class="fa-regular fa-envelope"></i> <a href="mailto:m.montagnon.ergo@gmail.com" class="text-decoration-none textDeco"> :  m.montagnon.ergo@gmail.com</a></li>
        <li class=" map textDeco "><i class="fa-regular fa-map"></i> : 8 avenue de l'Ellipse 33470 LE TEICH</li>
        

    </ul>
</nav>
