
<nav>
    <ul class="footerCustom" >
    {# <ul class="p-4 fs-3 navbar text-decoration-none text-primary-emphasis list-unstyled" style="background-color:#F78888; justify-content:space-evenly; text-decoration:none;"> #}
        <li class="mobile textDeco "> 06.43.58.04.40 </a></li>
        <li class=" mail textDeco " >m.montagnon.ergo@gmail.com</li>
        <li class=" map textDeco ">8 avenue de l'Ellipse 33470 LE TEICH</li>
        

    </ul>
</nav>
