
<nav>
    {# <ul style="display:flex; justify-content:space-around;"> #}

    {# <ul class="navbar" style="background-color:#F78888"> #}
    {# <ul class="navbar" style="background-color:#F78888"> #}
    <ul class="p-4 fs-3 navbar text-decoration-none text-primary-emphasis list-unstyled" style="background-color:#F78888; justify-content:space-evenly; text-decoration:none;">
        <li><img src="{{ "img/Logo_MM.jpg" }}" alt="Initiale MM"> </li>
        <li><a class=" text-decoration-none text-white" href="{{ path('app_home') }}">Qui suis-je ? </a></li>
        <li><a class=" text-decoration-none text-white" href=# >Ergothérapie</a></li>
        <li><a class=" text-decoration-none text-white" href=# >Consultations</a></li>
        <li><a class=" text-decoration-none text-white" href=# > Aménagement du domicile </a></li>
        <li><a class=" text-decoration-none text-white" href=# > Ateliers </a></li>
        <li><a class=" text-decoration-none text-white" href=# > Tarifs </a></li>
        <li><a class=" text-decoration-none text-white" href=# > Contact </a></li>

    </ul>
</nav>
