/* ---------------- NAVBAR ET FOOTERBAR ---------------- */
.textDeco {
    text-decoration: none !important;
    color: white !important; 
}

.navbarCustom, .footerCustom {
    padding-top: 5px;
    margin-bottom: 0px !important;
    padding-bottom: 5px;
    display: flex !important; 
    justify-content: space-evenly !important;
    align-items: center !important;
    background-color: #F78888 !important;
    height: 60px ;
    list-style: none !important;
    font-size: 25px ;
    /* font-size: 25px !important; */
}
.navbarCustom ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}

.footerCustom {
    margin-top: 50px;
}

/* ---------------- PAGE D ACCUEIL ---------------- */


.img-mains {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.5; 
    background-image: url('img/mains2.png') ;
    height: 600px; 
    border-bottom-right-radius: 20%; 
    z-index: 0;
}  

.indexDescription {
    margin-top: 50px;
    background-color: #fcd6d6;
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.divIndexDescription {
    display: flex;
    justify-content: center;
}

ul li.abc {
    list-style: none; 
    background: url('img/ABC.png') no-repeat left center;
    background-size: 16px 16px; 
    padding-left: 25px;
}

/* ---------------- QUI SUIS-JE ---------------- */

.qui-sui-je {
    display: flex;
    justify-content: center;
}

.about-me-title{
    margin-left:15%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.mon-parcours {
    width: 85%;
    /* width: 1000px; */
    background-color: #fcd6d6;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding : 20px;
    margin-top: 60px;
}

.flex-parcours {
    display: flex;
}

.mathilde-img{
    width: 150px;
}

.margin-img{
    margin-right: 20px;
}

.expertises-img {
    width: 356px;
    height: auto;
}

.expertises-txt{
    width: 350px;
}

.mes-valeurs-img {
    width: 800px;
    height: auto;
}

.mx-22 {
    width: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.expertises-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrage horizontal des blocs */
    gap: 20px; /* Espacement entre les blocs */
}

@media (max-width: 768px) {
    .expertises-div {
        flex-direction: column;
        align-items: center; /* Centre les éléments en colonne */
    }
}
.expertises-title-container {
    position: relative;
    display: inline-block;
}


.expertises-bg {
    position: absolute;
    top: 43%;
    left: 36px;
    height: 50px; /* Ajuste la hauteur */
    border-radius: 10px;
    z-index: -1; /* Met la div en arrière-plan */
    transform: translateY(-50%); /* Centre verticalement */
}


.expertises-bg-expertise {
    
    width: 300px; /* Ajuste la largeur selon ton besoin */
    background-color: #b1dbf7;
}

.expertises-bg-valeurs {
    
    width: 125px; /* Ajuste la largeur selon ton besoin */
    background-color: #fcc1bf; 
}

.expertises-bg-formations {
    
    width: 170px; /* Ajuste la largeur selon ton besoin */
    background-color: #f7df85; 
}

.expertises-title2 {
    position: relative;
    font-weight: bold;
    z-index: 1; /* Place le texte au-dessus */
}

.expertises-title {
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding: 5px 0; 
    
}

.border-color{  
    border-color: #b1dbf7 !important;
    border-width: 3px !important; 
    border-style: solid !important;
}

.en-savoir-plus {
    font-weight: 100;
    color: #F78888;
}

/* ---------------- Ergotherapy ---------------- */

.yellow-ergo, .blue-ergo, .dark-blue-ergo, .pink-ergo {
    width: 90%;
    margin:10px auto;
}

.yellow-ergo{
    background-color: #f8e8a7;
    /* margin:10px; */
    height:250px;
    display: flex;
    border-bottom-right-radius:50px;
}

.h1-yellow-ergo{
    margin: auto;
    width: 30%; 
    text-align: center;
}

.p-yellow-ergo{
    width:70%;
    margin: auto; 
    font-size:large; 
    line-height:25px; 
    text-align:justify; 
    padding-right:20px;
}

.blue-ergo{
    background-color: #d8edfb;
    border-top-left-radius:50px;
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 20px;
}

.div-blue-ergo{
    margin-top:21px; 
    width:70%;
}

.dark-blue-ergo{
    background-color: #add0e9;
    border-top-left-radius:50px;
    padding-top: 30px; 
    padding-bottom: 30px; 
    padding-left: 30px;
}

.p-dark-blue-ergo{
    width:70%;
    margin: auto; 
    font-size:large; 
    line-height:25px; 
    text-align:justify; 
    padding-right:20px;
}
.pink-ergo{
    background-color: #fcd6d6;
    border-bottom-right-radius:50px;
}

.border-height-ergo{
    height:374px;
}

.div-pink-ergo{
    padding-top: 20px; 
    padding-bottom: 20px;
}

.domain-div-pink-ergo{
    margin:10px; 
    padding-left:10px;
}

.h2-pink-ergo{
    margin: auto;
    width: 30%; 
    text-align: center; 
    padding-left:10px; 
    padding-right:10px;
}

.p-pink-ergo{
    width:70%;
    margin: auto; 
    font-size:large; 
    line-height:25px; 
    text-align:justify; 
    padding-right:48px;
}

.li-blue-ergo{
    font-size:large; 
    text-align:justify; 
}

.p-blue-ergo{
    padding-bottom:20px; 
    padding-left:20px; 
    padding-right:20px; 
    font-size:large;
}

.centered{
    background-color: #F78888;

}

.blue-ergo h2 {
    align-content:center; 
    width:40%;
    margin: auto; height:100%;
}

.display-flex {
    display: flex;
}

.ergo-img{
    width: 350px;
}


/* ---------------- CONSULTATIONS ---------------- */

.consultation-div {
    width:85%;
}

.en-savoir-plus-consult{
    color:black;
    text-decoration: none;
}
.consult-yellow{
    background-color: #f3d250;
    height: 135px;
}
.consult-blue{
    background-color: #90ccf4;
    height: 135px;

}
.consult-pink{
    background-color: #F78888;
    height: 135px;

}
.consult-dark-blue{
    background-color: #5da2d5;
    height: 135px;

}

.expertises-bg-classique{
    width: 280px; /* Ajuste la largeur selon ton besoin */
    background-color: #f3d250; 
}
.expertises-bg-alimentation{
    width: 320px; /* Ajuste la largeur selon ton besoin */
    background-color: #90ccf4; 
}
.expertises-bg-sommeil{
    width: 260px; /* Ajuste la largeur selon ton besoin */
    background-color: #F78888; 
}
.expertises-bg-amenagement{
    width: 855px; /* Ajuste la largeur selon ton besoin */
    background-color: #5da2d5; 
}

.btn-doc{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #F78888;
    color: white;
    border: none;
    padding: 20px;
    font-weight: bold;
}


/* ---------------- MEDIA QUERIES ---------------- */
/* TABLETTE PAYSAGE */
@media (max-width: 1024px) {
    .navbarCustom {
        font-size: 20px;
    }

    .footerCustom{
        font-size:medium;
    }

    .img-mains{
        height: 350px;
        background-size: cover;
    }

    .centered{
        text-align: center;
        font-size: 21px;
        margin-top: 6px;
    }

    .domain-div-pink-ergo{
        padding-left: 0px;
    }

    .display-flex {
        flex-direction: column;
        align-items: center;
    }
    .p-pink-ergo {
        margin-top: 20px;
        padding-right: 0px;
        width: 85%;
    }
    .yellow-ergo, .blue-ergo, .dark-blue-ergo, .pink-ergo {
        padding: 15px;
        height: auto;
    }
    .p-yellow-ergo, .p-dark-blue-ergo, .div-blue-ergo{
        width: 85%;
    }
  
    .blue-ergo .display-flex, .dark-blue-ergo .display-flex{
        flex-direction: column-reverse;
    }
}

/* TABLETTE */
@media (max-width: 768px) {
    .navbarCustom, .footerCustom {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .img-mains{
        height: 250px;
    }

    .footerCustom{
        font-size:medium;
        height: 100%;
    }

    .mes-valeurs-img {
        width: 500px;
    }

    .border-height-ergo{
        height: 100%;
    }

    .yellow-ergo p, .p-blue-ergo, .p-dark-blue-ergo, .div-blue-ergo, .p-pink-ergo {
        font-size: 1.2rem;
        margin-top: 20px;
        width: 100%;
    }
    .p-pink-ergo {
        padding-right:0px;
    }

    .h1-yellow-ergo, .pink-ergo h2{
        width: 100%;
        margin-bottom: 20px;
    }
    .blue-ergo .display-flex, .dark-blue-ergo .display-flex{
        flex-direction: column-reverse;
    }
}

/* MOBILE */
@media (max-width: 480px) {
    .navbarCustom, .footerCustom {
        font-size: 16px;
    }

    .img-mains{
        height: 200px;
    }
    .mes-valeurs-img {
        width: 300px;
    }
    .about-me-title{
        margin-left: 8%;
    }

    .flex-parcours {
        flex-direction: column;
        align-items: center;
    }
    .yellow-ergo p, .p-blue-ergo, .p-dark-blue-ergo, .div-blue-ergo, .li-blue-ergo, .p-pink-ergo {
        font-size: 0.9rem;
        margin-top: 20px;
        width: 100%;
    }
    .p-dark-blue-ergo{
        padding-right: 0px;
    }

    .yellow-ergo, .blue-ergo, .dark-blue-ergo, .pink-ergo {
        padding: 10px;
    }

    .h1-yellow-ergo, .pink-ergo h2, .blue-ergo h2{
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .blue-ergo .display-flex, .dark-blue-ergo .display-flex{
        flex-direction: column-reverse;
    }

}
